# ignore all files
*

# except these files
!.gitignore

!README.md

!go.mod
!go.sum

!*.go

!docker-compose.yml
!Dockerfile

!artifacts
!artifacts/samples
!artifacts/samples/*.wav

!cmd
!cmd/jarvis

!infra
!infra/whisper

!internal
!internal/ffmpeg
